@charset "UTF-8";
/*Scroll suavizado hacia el tope de la página*/
html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: inherit;
}

/* Mixin para establecer el color blanco*/
/*Links a las demás secciones de la página*/
a {
  color: white;
}

/*Titulo principal*/
h1 {
  color: white;
  text-align: center;
  font-size: 50px;
  /*Subtítulos y texto*/
  /* Nesting de selectores para h1 */
}
h1 h2 {
  color: white;
}
h1 h3 {
  color: white;
}
h1 h4 {
  color: white;
}
h1 h5 {
  color: white;
}
h1 h6 {
  color: white;
}
h1 p {
  color: white;
}

body {
  background: linear-gradient(rgb(10, 9, 12), rgb(12, 8, 66));
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  /* Nesting de selectores para el body */
}
body h2, body h3, body h4, body h5, body h6, body p {
  color: white;
}

/*Redes sociales*/
.redes {
  color: white;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  /* Nesting de selectores para .redes */
}
.redes .footer {
  display: flex;
  background-color: rgb(27, 27, 27);
}

/*Aclaración de politica de privacidad*/
.politica {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* Nesting de selectores para .politica */
}
.politica .footer {
  display: flex;
  background-color: rgb(27, 27, 27);
}

.footer {
  display: flex;
  background-color: rgb(27, 27, 27);
}

@media (max-width: 720px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .redes {
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }
  .tienda-online {
    display: flex;
    justify-content: center;
  }
  .politica {
    display: flex;
    justify-content: center;
  }
}
/*Barra de navegación*/
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Items en la barra de navegación*/
nav li {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  list-style-type: none;
  color: rgba(255, 255, 255, 0.3);
  background: #1a1a1a;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
}

/*Links en la barra de navegación*/
nav a {
  text-decoration: none;
  color: white;
  width: 150px;
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  text-align: center;
}

nav li:hover {
  background-color: gray;
  background: linear-gradient(black, grey);
  font-size: 1.7rem;
  transform: scale(1.05);
  transition: all 300ms ease-in-out;
}

@media (max-width: 720px) {
  nav ul {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    width: 95%;
  }
}
/*Imágen Principal de la pelota del mundial 2022*/
.logo-fulbo {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
}

/*Link del titulo a la página principal*/
a {
  text-decoration: none;
}

/*Seccion de imágenes de productos*/
.contenido {
  display: flex;
  margin: 60px;
  align-items: center;
  padding: 5px;
  text-align: center;
}

/*Titulo principal de la página*/
.titulo-principal {
  font-size: 40px;
  background-color: rgb(36, 36, 37);
}

/*Texto de bienvenida*/
.bienvenida {
  background-color: rgb(17, 18, 19);
  background: linear-gradient(black, rgb(31, 29, 29));
}

/*Imágen principal de una gorra*/
.gorra-fulbo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

/*Imágen principal de un collar*/
.collar-fulbo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

/*Imágen principal de una remera*/
.remera-fulbo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

/*Apartado de tienda online (Próximamente)*/
.tienda-online {
  display: flex;
  align-items: center;
}

/*Seccion de imágenes de productos*/
.contenido {
  display: flex;
  margin: 60px;
  align-items: center;
  padding: 5px;
  text-align: center;
  /*Link del titulo a la página principal*/
  /*Galería de imágenes*/
  /*Imágenes de la galería*/
  /*Media Q para Mobile*/
  /*Media Q para Tablet*/
}
.contenido .bienvenida {
  background-color: rgb(17, 18, 19);
}
.contenido a {
  text-decoration: none;
}
.contenido .titulo-accesorios {
  background: linear-gradient(rgb(29, 28, 28), gold);
  filter: contrast(120%);
}
.contenido .gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-auto-rows: 300px;
  padding: 20px;
  grid-gap: 5px;
}
.contenido .gallery-img {
  width: 90%;
  height: 100%;
  object-fit: cover;
}
.contenido .mate-mundial {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}
.contenido .productos-ejemplos {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
@media (max-width: 720px) {
  .contenido .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
    padding: 20px;
    grid-gap: 5px;
  }
  .contenido .productos-ejemplos {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .contenido .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-auto-rows: 400px;
    padding: 20px;
    grid-gap: 5px;
  }
  .contenido .productos-ejemplos {
    display: flex;
    flex-direction: column;
  }
}

/*Seccion de imágenes de productos*/
.contenido {
  display: flex;
  margin: 60px;
  align-items: center;
  padding: 5px;
  text-align: center;
}

.bienvenida {
  background-color: rgb(17, 18, 19);
}

/*Link del titulo a la página principal*/
a {
  text-decoration: none;
}

.titulo-gorras {
  background: linear-gradient(rgb(70, 75, 158), rgb(93, 52, 139));
  filter: contrast(120%);
}

/*Galería de imágenes*/
.gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-auto-rows: 300px;
  padding: 20px;
  grid-gap: 5px;
}

/*Imágenes de la galería*/
.gallery-img {
  width: 90%;
  height: 100%;
  object-fit: cover;
}

.gorra-maradona {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.productos-ejemplos {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

/*Media Q para Mobile*/
@media (max-width: 720px) {
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
    padding: 20px;
    grid-gap: 5px;
  }
  .productos-ejemplos {
    display: flex;
    flex-direction: column;
  }
}
/*Media Q para Tablet*/
@media (max-width: 1024px) {
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-auto-rows: 400px;
    padding: 20px;
    grid-gap: 5px;
  }
  .productos-ejemplos {
    display: flex;
    flex-direction: column;
  }
}
/* Mixin para estilos comunes */
/*Link del titulo a la página principal*/
a {
  text-decoration: none;
}

/*Seccion de imágenes de productos*/
.contenido {
  display: flex;
  margin: 60px;
  align-items: center;
  padding: 5px;
  text-align: center;
  /*Galería de imágenes*/
  /*Imágenes de la galería*/
  /*Media Q para Mobile*/
  /*Media Q para Tablet*/
}
.contenido .bienvenida {
  background-color: rgb(17, 18, 19);
}
.contenido .titulo-remera {
  background: linear-gradient(rgb(26, 36, 131), rgb(3, 3, 3));
  filter: contrast(120%);
}
.contenido .gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-auto-rows: 300px;
  padding: 20px;
  grid-gap: 5px;
}
.contenido .gallery-img {
  width: 90%;
  height: 100%;
  object-fit: cover;
}
.contenido .remera-gta {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}
.contenido .productos-ejemplos {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
@media (max-width: 720px) {
  .contenido .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
    padding: 20px;
    grid-gap: 5px;
  }
  .contenido .productos-ejemplos {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .contenido .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-auto-rows: 400px;
    padding: 20px;
    grid-gap: 5px;
  }
  .contenido .productos-ejemplos {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
