



.footer {
  display: flex;
  background-color: rgb(27, 27, 27);
}

.politica {
 display: flex;
 align-items: center;
 justify-content: flex-start;
}

.bienvenida {
  background-color: rgb(17, 18, 19);
}

.titulo-remera {
   background-color: rgb(32, 29, 31)
}

.titulo-accesorios {
 background-color: rgb(48, 43, 45)
}

.titulo-gorras {
  background-color: rgb(59, 52, 55);
}

.gorra-fulbo {
   width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.collar-fulbo {
   width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.remera-fulbo {
   width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.tienda-online {
 display: flex;
 align-items:center;
}

.gallery-container {
 display: grid;
 grid-template-columns: repeat(4, 2fr);
 grid-auto-rows: 300px;
 padding: 20px;
 grid-gap: 5px;
}

.gallery-img {
  width: 90%;
  height: 100%;
  object-fit: cover;
}

.remera-gta {
    width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.mate-mundial {
   width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.gorra-maradona {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

@media(max-width:480px) {
  nav ul {
    display: grid;
    grid-template-columns: repeat(2, 2fr) ;

  }

  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    .redes {
      display: flex;
      justify-content: center;
      justify-content: space-around;
    }
  }
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 350px;
    padding: 20px;
    grid-gap: 5px;
  }

  .productos-ejemplos {
    display: flex; 
    flex-direction: column;
    
  }
}

.productos-ejemplos {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}




