h1 {
  color: white;
  text-align: center;
  font-size: 50px;
}

body {
  background-color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
  color: white;
}

h3 {
  color:white ;
}

h4 {
  color: white;
}

h5 {
  color: white;
}

h6 {
  color: white;
}

p {
  color: white;
}


.redes {
  color: white;
   list-style-type: none;
   display: flex;
   justify-content: flex-end;
   justify-content: space-between;
   }