$c-blanco: white;
$c-gris: rgb(27, 27, 27);

html {
  box-sizing: border-box ;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: inherit;
}

// Mixin para establecer el color blanco
@mixin blanco {
  color: $c-blanco;
}

a {
  color: white;
}

h1 {
  @include blanco;
  text-align: center;
  font-size: 50px;
 

  // Nesting de selectores para h1
  h2 {
    @include blanco;
  }

  h3 {
    @include blanco;
  }

  h4 {
    @include blanco;
  }

  h5 {
    @include blanco;
  }

  h6 {
    @include blanco;
  }

  p {
    @include blanco;
  }
}


body {
  background-color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  // Nesting de selectores para body
  h2, h3, h4, h5, h6, p {
    @include blanco;
  }
}

.redes {
  @include blanco;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;

  // Nesting de selectores para .redes
  & .footer {
    display: flex;
    background-color:$c-gris;
  }
}

.politica {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  // Nesting de selectores para .politica
  & .footer {
    display: flex;
    background-color: $c-gris;
  }
}