$c-blanco: white;

h1 {
  color: $c-blanco;
  text-align: center;
  font-size: 50px;
}

body {
  background-color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
  color: $c-blanco;
}

h3 {
  color:$c-blanco ;
}

h4 {
  color: $c-blanco;
}

h5 {
  color: $c-blanco;
}

h6 {
  color: $c-blanco;
}

p {
  color: $c-blanco;
}


.redes {
  color: $c-blanco;
   list-style-type: none;
   display: flex;
   justify-content: flex-end;
   justify-content: space-between;
   }

.footer {
  display: flex;
  background-color: rgb(27, 27, 27);
}

.politica {
 display: flex;
 align-items: center;
 justify-content: flex-start;
}


