/*Imágen Principal de la pelota del mundial 2022*/
.logo-fulbo {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
}

/*Link del titulo a la página principal*/
a {
  text-decoration: none;
}

/*Seccion de imágenes de productos*/
.contenido {
  display: flex;
  margin: 60px;
  align-items: center;
  padding: 5px;
  text-align: center;
  }
  
  /*Titulo principal de la página*/
  .titulo-principal {
  font-size: 40px;
  background-color: rgb(36, 36, 37);
}

/*Texto de bienvenida*/
.bienvenida {
  background-color: rgb(17, 18, 19);
  background: linear-gradient(black, rgb(31, 29, 29));
}

/*Imágen principal de una gorra*/
.gorra-fulbo {
   width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

/*Imágen principal de un collar*/
.collar-fulbo {
   width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

/*Imágen principal de una remera*/
.remera-fulbo {
   width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

/*Apartado de tienda online (Próximamente)*/
.tienda-online {
 display: flex;
 align-items:center;
}
