/* Mixin para estilos comunes */

@mixin contenido-styles {
  display: flex;
  margin: 60px;
  align-items: center;
  padding: 5px;
  text-align: center;
}

/*Link del titulo a la página principal*/
a {
  text-decoration: none;
}

/*Seccion de imágenes de productos*/
.contenido {
  @include contenido-styles;

  .bienvenida {
    background-color: rgb(17, 18, 19);
  }

  .titulo-remera {
    background: linear-gradient(rgb(24, 34, 124), rgb(25, 26, 32));
    filter: contrast(120%);
  }

  /*Galería de imágenes*/
.gallery-container {
 display: grid;
 grid-template-columns: repeat(4, 2fr);
 grid-auto-rows: 300px;
 padding: 20px;
 grid-gap: 5px;
}

/*Imágenes de la galería*/
.gallery-img {
  width: 90%;
  height: 100%;
  object-fit: cover;
}

.remera-gta {
    width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.productos-ejemplos {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

/*Media Q para Mobile*/
@media(max-width:720px) {
  
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
    padding: 20px;
    grid-gap: 5px;
  }
   .productos-ejemplos {
    display: flex; 
    flex-direction: column;
  }
}

/*Media Q para Tablet*/
@media(max-width:1024px) {
  
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-auto-rows: 400px;
    padding: 20px;
    grid-gap: 5px;
  }
   .productos-ejemplos {
    display: flex; 
    flex-direction: column;
  }
}
}

