/* Mixin para estilos comunes */
@mixin contenido-styles {
  display: flex;
  margin: 60px;
  align-items: center;
  padding: 5px;
  text-align: center;
}

.contenido {
  @include contenido-styles;

  .bienvenida {
    background-color: rgb(17, 18, 19);
  }

  .titulo-remera {
    background: linear-gradient(black, rgb(43, 42, 42));
    filter: contrast(120%);
  }

.gallery-container {
 display: grid;
 grid-template-columns: repeat(4, 2fr);
 grid-auto-rows: 300px;
 padding: 20px;
 grid-gap: 5px;
}

.gallery-img {
  width: 90%;
  height: 100%;
  object-fit: cover;
}

.remera-gta {
    width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.productos-ejemplos {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

@media(min-width:750px) {
  
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 350px;
    padding: 20px;
    grid-gap: 5px;
  }
   .productos-ejemplos {
    display: flex; 
    flex-direction: column;
    
  }
}

@media(max-width:1024px) {
  
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-auto-rows: 400px;
    padding: 20px;
    grid-gap: 5px;
  }
   .productos-ejemplos {
    display: flex; 
    flex-direction: column;
    
  }
}
}

